<div class="site-nav special-navs">
    {% if section.settings.main_menu_alignment == 'left' or section.settings.main_menu_alignment == 'left-center' or section.settings.main_menu_alignment == 'left-drawer' %}
      <button
        type="button"
        class="site-nav__link site-nav__link--icon js-drawer-open-nav{% if section.settings.main_menu_alignment == 'left' or section.settings.main_menu_alignment == 'left-center' %} medium-up--hide{% endif %}"
        aria-controls="NavDrawer">
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-hamburger" viewBox="0 0 64 64"><path d="M7 15h51M7 32h43M7 49h51"/></svg>
        <span class="icon__fallback-text">{{ 'general.drawers.navigation' | t }}</span>
      </button>
    {% endif %}
    {% for i in (1..3) %}
      {%- assign spec_link_handle = 'special_nav' | append: i | append: '_link' -%}
      {%- assign spec_icon_handle = 'special_nav' | append: i | append: '_icon' -%}
      {%- assign spec_label_handle = 'special_nav' | append: i | append: '_label' -%}
      {%- if section.settings[spec_link_handle] -%}
        <a href="{{section.settings[spec_link_handle]}}" class="spec-nav medium-down--hide" title="{{section.settings[spec_label_handle]}}">
          {%- if section.settings[spec_icon_handle] -%}
          <span class="spec-icon-wrapper">
            <img src="{{section.settings[spec_icon_handle] |img_url: '40x' | split:'?' | first}}" alt="{{section.settings[spec_icon_handle].alt}}" class="spec-nav-icon">
          </span>
          {%- endif -%}
          <span class="spec-icon-label">{{section.settings[spec_label_handle]}}</span>
        </a>
      {%- endif -%}
    {% endfor %}

    <a href="{{routes.cart_url}}" class="spec-nav cart js-drawer-open-cart js-no-transition" aria-controls="CartDrawer">
      <span class="spec-icon-wrapper">
        <img src="{{section.settings.cart_icon | img_url:'40x' | split: '?' | first}}" alt="cart" class="spec-nav-icon">
      </span>
      <span class="spec-icon-label medium-down--hide">{{section.settings.cart_label}}</span>
      <span class="cart-link__bubble cart-count">{{cart.item_count}}</span>
    </a>
</div>
