{% unless limit %}
  {%- assign limit = main_menu.links.size -%}
{% endunless %}
{% unless offset %}
  {%- assign offset = 0 -%}
{% endunless %}

<ul
  class="site-nav site-navigation small--hide"
  {% unless disable_aria %}
    role="navigation" aria-label="Primary"
  {% endunless %}>
  {% for link in main_menu.links limit: limit offset: offset %}
    {%- assign has_dropdown = false -%}
    {%- assign is_megamenu = false -%}
    {% if link.links != blank %}
      {%- assign has_dropdown = true -%}
    {% endif %}
    <!-- Check if the link has megamenu dropdown -->
    {% assign is_megamenu = false %}
    {%- assign link_handle = link.title | handle -%}
    {% for i in (1..7) %}
      {%- assign mega_menu_handle = 'megamenu' | append: i -%}
      {%- assign mega_parent_link_handle = 'mega' | append: i | append: "_parent_link" -%}
      {%- assign mega_parent_link = settings[mega_parent_link_handle] | handle-%}
      {% if settings[mega_menu_handle] and mega_parent_link == link_handle %}
        {% assign is_megamenu = true %}
        {% break %}
      {% endif %}
    {% endfor %}
    <!-- Endcheck -->
	{% if link.title contains '*' %}
  		{% break %}
  	{% endif %}
  	{% unless link.title contains 'MOBILE' %}  
      <li
        class="site-nav__item site-nav__expanded-item{% if has_dropdown %} site-nav--has-dropdown{% endif %}{% if is_megamenu %} site-nav--is-megamenu{% endif %}"
        {% if has_dropdown %}aria-haspopup="true"{% endif %} data-dropdown="{{link.handle}}">
        <a href="{{ link.url }}" class="site-nav__link site-nav__link--underline{% if has_dropdown %} site-nav__link--has-dropdown{% endif %}">
          {% for block in section.blocks %}
            {%- if block.type == 'menu-icon' -%}
              {%- assign target_menu_handle = block.settings.target_menu | handle -%}
              {%- if link.handle == target_menu_handle -%}
                <span class="menu-icon__wrapper">
                  <img src="{{block.settings.menu_icon | img_url: '40x'}}" alt="{{block.settings.menu_icon.alt}}" class="menu-icon">
                </span>  
              {%- endif -%}
            {%- endif -%}
          {% endfor %}
          {{ link.title }}
        </a>
        {%- comment -%}Include Megamenu{%- endcomment -%}
        {% if is_megamenu %}
          <div class="site-nav__dropdown megamenu text-left" data-mega-rel = "{{link.title | handle}}"></div>
        {%- comment -%}End including megamenu{%- endcomment -%}
          {%- assign previous_column_type = '' -%}
          {%- assign animation_column = 1 -%}
        {% elsif has_dropdown %}
          <ul class="site-nav__dropdown text-left">
            {% for childlink in link.links %}
              {%- assign has_sub_dropdown = false -%}
              {% if childlink.links != blank %}
                {%- assign has_sub_dropdown = true -%}
              {% endif %}

              <li class="{% if has_sub_dropdown %} site-nav__deep-dropdown-trigger{% endif %}">
                <a href="{{ childlink.url }}" class="site-nav__dropdown-link site-nav__dropdown-link--second-level {% if has_sub_dropdown %} site-nav__dropdown-link--has-children{% endif %}">
                  {{ childlink.title | escape }}
                  {% if has_sub_dropdown %}
                    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewBox="0 0 28 16"><path d="M1.57 1.59l12.76 12.77L27.1 1.59" stroke-width="2" stroke="#000" fill="none" fill-rule="evenodd"/></svg>
                  {% endif %}
                </a>
                {% if has_sub_dropdown %}
                  <ul class="site-nav__deep-dropdown">
                    {% for grandchildlink in childlink.links %}
                      <li>
                        <a href="{{ grandchildlink.url }}" class="site-nav__dropdown-link">{{ grandchildlink.title | escape }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
  
  	{% endunless %}
  {% endfor %}
</ul>
