<div class="toolbar{% if overlay_header%} toolbar--transparent{% endif %} small--hide">
  <div class="page-width">
    <div class="toolbar__content">
      <div class="toolbar__item toolbar__item--text">
        {% if section.settings.toolbar_text != blank %}
          <div class="toolbar_text">{{section.settings.toolbar_text}}</div>
        {% endif %}
      </div>

      <div class="toolbar__item toolbar__item--menu">
        {% for i in (1..5) %}
          {%- assign toolbar_link_handle = 'toolbar_link' | append: i -%}
          {%- assign toolbar_icon_handle = 'toolbar_link' | append: i |append: '_icon' -%}
          {%- assign toolbar_label_handle = 'toolbar_link' |append: i | append: '_label' -%}
          {%- if section.settings[toolbar_link_handle] != blank -%}
            <a href="{{section.settings[toolbar_link_handle]}}" class="toolbar-nav--item">
              {%- if section.settings[toolbar_icon_handle] != nil -%}
                <img src="{{section.settings[toolbar_icon_handle] |img_url: '30x' | split:'?' | first}}" alt="" class="toolbar-link__icon">
              {%- endif -%}
              {%- if section.settings[toolbar_label_handle] != blank -%}
                <span class="toolbar-link__label">{{section.settings[toolbar_label_handle]}}</span>  
              {%- endif -%}
            </a>
          {%- endif -%}
        {% endfor %}
        {% if shop.customer_accounts_enabled or shop.customer_accounts_optional%}
          {% if customer %}
            <a href="{{ routes.account_url }}" class="toolbar-nav--item">
              {% if section.settings.account_icon != nil %}
                <img src="{{section.settings.account_icon |img_url:'30x' | split:'?' | first}}" alt="{{section.settings.account_icon.alt}}" class="toolbar-link__icon">
              {% endif %}
              <span class="toolbar-link__label">{{ 'layout.customer.account' | t }}</span>
            </a>
          {% else %}
            <a href="{{ routes.account_login_url }}" class="toolbar-nav--item">
              {% if section.settings.account_icon != nil %}
                <img src="{{section.settings.account_icon |img_url:'30x' | split:'?' | first}}" alt="{{section.settings.account_icon.alt}}" class="toolbar-link__icon">
              {% endif %}
              <span class="toolbar-link__label">{{ 'layout.customer.log_in' | t }}</span>
            </a>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
