{%- assign main_menu = linklists[settings.main_menu_link_list] -%}
{%- assign toolbar_menu = linklists[section.settings.toolbar_menu] -%}

{%- assign logo_alignment = section.settings.logo_alignment -%}

{%- assign dropdown_alignment = 'center' -%}

{% include 'drawer-menu' %}
{% include 'cart-drawer' %}

{%- assign template_name = template | replace: '.', ' ' | truncatewords: 2, '' | handle -%}

{%- assign sticky_header = false -%}
{% if section.settings.header_style == 'sticky' %}
  {%- assign sticky_header = true -%}
{% endif %}
{%- assign overlay_header = false -%}
{%- assign has_logo = false -%}
{% if template_name == 'index' and section.settings.sticky_index %}
  {%- assign overlay_header = true -%}
{% endif %}
{% if template_name == 'collection' and collection.image and section.settings.sticky_collection %}
  {%- assign overlay_header = true -%}
{% endif %}

{% style %}
  .site-nav__link,
  .site-nav__dropdown-link:not(.site-nav__dropdown-link--top-level) {
    font-size: {{ settings.type_navigation_size }}px;
  }
  {% if settings.type_navigation_capitalize %}
    .site-nav__link, .mobile-nav__link--top-level {
      text-transform: uppercase;
      letter-spacing: 0.2em;
    }
    .mobile-nav__link--top-level {
      font-size: 1.1em;
    }
  {% endif %}

  {% if mainmenu.length > 6 %}
    .site-nav__link {
      padding-left: 10px;
      padding-right: 10px;
    }
  {% endif %}
{% endstyle %}

<div data-section-id="{{ section.id }}" data-section-type="header-section">
  {% if overlay_header or section.settings.announcement_above_header %}
    {% include 'announcement-bar' %}
  {% endif %}

  {% unless overlay_header %}
      {% include 'toolbar',
        overlay_header: overlay_header,
        show_currency_flags: section.settings.show_currency_flags
      %}
  {% endunless %}

  <div class="header-sticky-wrapper">
    <div class="header-wrapper{% if overlay_header %} header-wrapper--sticky is-light{% endif %}">

      {% if overlay_header %}
          {% include 'toolbar',
            overlay_header: overlay_header
          %}
      {% endif %}
      
      <header
        class="site-header{% if settings.type_navigation_style == 'heading' %} site-header--heading-style{% endif %}"
        data-sticky="{{ sticky_header }}">
        
        <div class="page-width">
          <div
            class="header-layout header-layout--{{logo_alignment}}"
            data-logo-align="{{ logo_alignment }}">

            {% if logo_alignment == 'left' %}
              <div class="header-item header-item--logo">
                {% include 'header-logo-block' %}
              </div>
            {% endif %}

            {% if logo_alignment == 'left' %}
              <div class="header-item header-item--navigation text-center">
                {% include 'header-desktop-nav' %}
              </div>
            {% endif %}

            {% comment %}THIS ONE{% endcomment %}
            {% if logo_alignment == 'center' %}
              <div class="header-item header-item--left header-item--navigation">
                {% if settings.search_enable %}
                <form action="{{ routes.search_url }}" method="get" role="search"
                      id="HeaderSearchForm"
                      class="site-header__search-form medium-down--hide">
                  <input type="hidden" name="type" value="{{ settings.search_type }}">
                  <button type="submit" class="text-link site-header__search-btn site-header__search-btn--submit">
                    <img src="//cdn.shopify.com/s/files/1/0367/5301/products/search_new_whitebg_100x100.jpg?v=1570028106" alt="xx" width="40">
                    <span class="icon__fallback-text">Search</span>
                  </button>
                  <input type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" class="site-header__search-input" aria-label="{{ 'general.search.placeholder' | t }}">
                </form>
                {% endif %}

                <div class="site-nav hide medium-down--show">
                  <button
                    type="button"
                    class="site-nav__link site-nav__link--icon js-drawer-open-nav"
                    aria-controls="NavDrawer">
                    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-hamburger" viewBox="0 0 64 64"><path d="M7 15h51M7 32h43M7 49h51"/></svg>
                  </button>
                </div>
              </div>
            {% endif %}
            {%- if logo_alignment == 'center' -%}
              {% include 'header-logo-block' %}
            {%- endif -%}
            {% comment %}THIS ONE{% endcomment %}
            <div class="header-item header-item--icons special-navs__wrapper">
              {% include 'header-special-navs' %}
            </div>
          </div>
          {% if sticky_header %}
            <div class="text-center {% if sticky_header%}sticky-navigation {% endif %} {% if logo_alignment == 'left' and sticky_header %}only-sticky-navigation{% endif %}">
              {% include 'header-desktop-nav' %}
              {% if sticky_header %}
                <div class="sticky-special-nav">
                  {% include 'header-special-navs' %}
                </div>
              {% endif %}  
            </div>
          {% endif %}
        </div>
        
        <div class="site-header__search-container search-mobile hide medium-down--show is-active">
          <div class="site-header__search">
            <div class="page-width">
              <form action="{{ routes.search_url }}" method="get" role="search"
                id="HeaderSearchForm"
                class="site-header__search-form">
                <input type="hidden" name="type" value="{{ settings.search_type }}">
                <button type="submit" class="text-link site-header__search-btn site-header__search-btn--submit">
                  <img src="//cdn.shopify.com/s/files/1/0367/5301/products/search_new_whitebg_100x100.jpg?v=1570028106" alt="xx" width="50">
                  {% comment %}
                  <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-search" viewBox="0 0 64 64"><path d="M47.16 28.58A18.58 18.58 0 1 1 28.58 10a18.58 18.58 0 0 1 18.58 18.58zM54 54L41.94 42"/></svg>
                  {% endcomment %}
                  <span class="icon__fallback-text">{{ 'general.search.submit' | t }}</span>
                </button>
                <input type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" class="site-header__search-input" aria-label="{{ 'general.search.placeholder' | t }}">
              </form>
              {% comment %}
              <button type="button" class="js-search-header-close text-link site-header__search-btn">
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 64 64"><path d="M19 17.61l27.12 27.13m0-27.12L19 44.74"/></svg>
                <span class="icon__fallback-text">{{ 'general.accessibility.close_modal' | t | json }}</span>
              </button>
              {% endcomment %}
            </div>
          </div>
          {%- if settings.predictive_search_enabled -%}
            <div class="predictive-results hide">
              <div class="page-width">
                <div id="PredictiveResults"></div>
                <div class="text-center predictive-results__footer">
                  <button type="button" class="btn btn--small" data-predictive-search-button>
                    <small>
                      {{ 'general.search.view_more' | t }}
                    </small>
                  </button>
                </div>
              </div>
            </div>
          {%- endif -%}
        </div>
      </header>
    </div>
  </div>

  {% unless overlay_header or section.settings.announcement_above_header %}
    {% include 'announcement-bar' %}
  {% endunless %}
  
</div>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "header",
        "content": "Announcement bar"
      },
      {
        "type": "checkbox",
        "id": "announcement_above_header",
        "label": "Always show above header"
      },
      {
        "type":"paragraph",
        "content":"Announcement slideshow settings"
      },
      {
        "type":"select",
        "id":"announcement_slideshow_effect",
        "label":"Switch effect",
        "options":[
          {
            "value":"fade", 
            "label":"Fade"
          },
          {
            "value":"scroll",
            "label":"Scroll"
          }
        ],
        "default":"fade"
      },
      {
        "type":"checkbox",
        "id":"announcement_autoplay",
        "label":"Autoplay",
        "default": true
      },
      {
        "type":"range",
        "id":"announcement_autoplay_speed",
        "label":"Autoplay Speed",
        "min": 1, 
        "max": 10,
        "step": 1, 
        "unit":"S",
        "default": 3
      },
      {
        "type": "header",
        "content": "Toolbar"
      },
      {
        "type":"textarea",
        "id":"toolbar_text",
        "label":"Toolbar Text"
      },
      {
        "type":"paragraph",
        "content":"Toolbar links"
      },
      {
        "type":"url",
        "id":"toolbar_link1",
        "label":"link1"
      },
      {
        "type":"image_picker",
        "id":"toolbar_link1_icon",
        "label":"Icon of link1"
      },
      {
        "type":"text",
        "id":"toolbar_link1_label",
        "label":"Toolbar_link1_label"
      },
      {
        "type":"url",
        "id":"toolbar_link2",
        "label":"link2"
      },
      {
        "type":"image_picker",
        "id":"toolbar_link2_icon",
        "label":"Icon of link2"
      },
      {
        "type":"text",
        "id":"toolbar_link2_label",
        "label":"Toolbar_link2_label"
      },
      {
        "type":"url",
        "id":"toolbar_link3",
        "label":"link3"
      },
      {
        "type":"image_picker",
        "id":"toolbar_link3_icon",
        "label":"Icon of link3"
      },
      {
        "type":"text",
        "id":"toolbar_link3_label",
        "label":"Toolbar_link3_label"
      },
      {
        "type":"url",
        "id":"toolbar_link4",
        "label":"link4"
      },
      {
        "type":"image_picker",
        "id":"toolbar_link4_icon",
        "label":"Icon of link4"
      },
      {
        "type":"text",
        "id":"toolbar_link4_label",
        "label":"Toobar_link4_label"
      },
      {
        "type":"paragraph",
        "content":"Account Link"
      },
      {
        "type":"image_picker",
        "id":"account_icon",
        "label":"Account Icon"
      },
      {
        "type":"header",
        "content":"Main Header settings"
      },
      {
        "type":"paragraph",
        "content":"Logo"
      },
      {
        "type":"image_picker",
        "id":"desktop_logo",
        "label":"Desktop Logo"
      },
      {
        "type":"image_picker",
        "id":"mobile_logo",
        "label":"Mobile Logo"
      },
      {
        "type": "range",
        "id": "desktop_logo_width",
        "label": "Desktop logo width",
        "default": 200,
        "min": 100,
        "max": 600,
        "step": 10,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "mobile_logo_width",
        "label": "Mobile logo width",
        "default": 140,
        "min": 60,
        "max": 220,
        "step": 10,
        "unit": "px",
        "info": "Set as a max-width, may appear smaller"
      },
      {
        "type": "select",
        "id": "logo_alignment",
        "label": "Logo alignment",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value":"center", 
            "label":"Center"
          }
        ]
      },
      {
        "type": "select",
        "id": "header_style",
        "label": "Header style",
        "default": "normal",
        "options": [
          {
            "value": "normal",
            "label": "Normal"
          },
          {
            "value": "sticky",
            "label": "Sticky"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "sticky_index",
        "label": "Overlay header over home page",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "sticky_collection",
        "label": "Overlay header over collection",
        "info": "(if collection image is enabled)",
        "default": false
      },
      {
        "type":"header",
        "content":"Special navs in header"
      },
      {
        "type":"paragraph",
        "content":"Special nav1"
      },
      {
        "type":"url",
        "id":"special_nav1_link",
        "label":"Special nav1 link"
      },
      {
        "type":"image_picker",
        "id":"special_nav1_icon",
        "label":"Special nav1 Icon"
      },
      {
        "type":"text",
        "id":"special_nav1_label",
        "label":"Special nav1 label"
      },
      {
        "type":"paragraph",
        "content":"Special nav2"
      },
      {
        "type":"url",
        "id":"special_nav2_link",
        "label":"Special nav2 link"
      },
      {
        "type":"image_picker",
        "id":"special_nav2_icon",
        "label":"Special nav2 Icon"
      },
      {
        "type":"text",
        "id":"special_nav2_label",
        "label":"Special nav2 label"
      },
      {
        "type":"paragraph",
        "content":"Special nav3"
      },
      {
        "type":"url",
        "id":"special_nav3_link",
        "label":"Special nav3 link"
      },
      {
        "type":"image_picker",
        "id":"special_nav3_icon",
        "label":"Special nav3 Icon"
      },
      {
        "type":"text",
        "id":"special_nav3_label",
        "label":"Special nav3 label"
      },
      {
        "type":"paragraph",
        "content":"Cart Icon settings"
      },
      {
        "type":"image_picker",
        "id":"cart_icon",
        "label":"Cart Icon"
      },
      {
        "type":"text",
        "id":"cart_label",
        "label":"Cart label",
        "default":"Buggy"
      },
      {
        "type":"header",
        "content":"Mobile Drawer Menu"
      },
      {
        "type":"text",
        "id":"mobile_nav_title",
        "label":"Mobile nav title",
        "default":"Shop by Department"
      },
      {
        "type":"header",
        "content":"Mobile Menu Styles"
      },
      {
        "type":"color",
        "id":"drawer_header_background",
        "label":"Drawer Header Background",
        "default":"#a7ccf2"
      },
      {
        "type":"font_picker",
        "id":"drawer_title_font",
        "label":"Drawer Title font",
        "default":"times_new_roman_n4"
      },
      {
        "type":"range",
        "id":"drawer_title_size",
        "label":"Drawer Title Size",
        "min": 14, 
        "max": 32, 
        "step": 1, 
        "unit":"px",
        "default": 24
      },
      {
        "type":"color",
        "id":"drawer_title_color",
        "label":"Drawer Title Color",
        "default":"#000"
      },
      {
        "type":"paragraph",
        "content":"Drawer Primary Menu"
      },
      {
        "type":"color",
        "id":"drawer_primary_background",
        "label":"Drawer Primary Menu Background",
        "default":"#fff"
      },
      {
        "type":"font_picker",
        "id":"drawer_primary_link_font",
        "label":"Drawer Primary Link Font",
        "default":"raleway_n4"
      },
      {
        "type":"range",
        "id":"drawer_primary_link_size",
        "label":"Drawer primary link size",
        "min": 14, 
        "max": 24, 
        "default": 18, 
        "step": 1, 
        "unit": "px"
      },
      {
        "type":"color",
        "id":"drawer_primary_link_color",
        "label":"Drawer Primary Link Color",
        "default":"#104177"
      },
      {
        "type":"paragraph",
        "content":"Drawer Secondary Menu"
      },
      {
        "type":"color",
        "id":"drawer_secondmenu_background",
        "label":"Drawer Second Menu background",
        "default":"#a7ccf2"
      },
      {
        "type":"font_picker",
        "id":"drawer_secondmenu_font",
        "label":"Drawer Second Menu Font",
        "default":"raleway_n4"
      },
      {
        "type":"range",
        "id":"drawer_secondmenu_size",
        "label":"Drawer Second Menu Size",
        "min": 12,
        "max": 24,
        "unit":"px",
        "step": 1,
        "default": 14
      },
      {
        "type":"color",
        "id":"drawer_secondmenu_color",
        "label":"Drawer Secondmenu Color",
        "default":"#104177"
      }
    ],
    "blocks": [
      {
        "type": "announcement",
        "name": "Announcement",
        "limit": 3,
        "settings": [
          {
            "type": "text",
            "id": "text",
            "label": "Heading",
            "default": "Hassle-free returns"
          },
          {
            "type": "text",
            "id": "link_text",
            "label": "Text",
            "default": "30-day postage paid returns"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          },
          {
            "type":"header",
            "content":"Announcement Style"
          },
          {
            "type":"color",
            "id":"announcement_background_color",
            "label":"Background Color",
            "default":"#a7ccf2"
          },
          {
            "type":"font_picker",
            "id":"announcement_font",
            "label":"Font",
            "default":"times_new_roman_n4"
          },
          {
            "type":"range",
            "id":"announcement_size",
            "label":"Font Size",
            "min": 10, 
            "max": 20, 
            "default": 14,
            "unit":"px",
            "step": 1
          },
          {
            "type":"color",
            "id":"announcement_color",
            "label":"Color",
            "default":"#fff"
          }
        ]
      },
      {
        "type":"menu-icon",
        "name":"Menu Icons",
        "settings":[
          {
            "type":"text",
            "id":"target_menu",
            "label":"Target menu title"
          },
          {
            "type":"image_picker",
            "id":"menu_icon",
            "label":"Menu Icon"
          },
          {
            "type":"checkbox",
            "id":"enable_icon_mobile",
            "label":"Show Icon on mobile"
          }
        ]
      }
    ],
    "default": {
      "settings": {}
    }
  }
{% endschema %}
